<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="diagram.test.one.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="diagram.test.one.Perspective"
            id="diagram.test.one.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="diagram.test.one.View"
            id="diagram.test.one.view">
      </view>
      <view
            class="diagram.test.one.ProjectView"
            id="diagram.test.one.project.view"
            name="Projects">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="diagram.test.one.perspective">
         <view
               closeable="false"
               id="diagram.test.one.view"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="diagram.test.one.folder"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="diagram.test.one.project.view"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="diagram.test.one.project.folder"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:diagram.test.one.project.view">
         <command
               commandId="diagram.test.one.project.create.command"
               icon="icons/alt_window_16.gif"
               label="Create Project"
               tooltip="Create Project">
         </command>
         <command
               commandId="diagram.test.one.project.delete.command"
               icon="icons/alt_window_16.gif"
               label="Delete Project"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=additions">
         <toolbar
               id="diagram.test.one.toolbar">
            <command
                  commandId="diagram.test.one.project.create.command"
                  icon="icons/sample.gif"
                  label="Create Project"
                  mode="FORCE_TEXT"
                  tooltip="Create Project">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="diagram.test.one.application"
            name="RCP Application">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="diagram.test.one.editors.FileDiagramEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="*"
            icon="icons/sample.gif"
            id="diagram.test.one.editors.FileDiagramEditor"
            name="File Diagram Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="diagram.test.one.project.create.command"
            name="Create Project Command">
      </command>
      <command
            id="diagram.test.one.project.delete.command"
            name="Delete Project Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="diagram.test.one.handlers.CreateProjectHandler"
            commandId="diagram.test.one.project.create.command">
      </handler>
      <handler
            class="diagram.test.one.handlers.DeleteProjectHandler"
            commandId="diagram.test.one.project.delete.command">
         <activeWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="java.io.File">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="diagram.test.one.activity"
            name="activity">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="activity">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="diagram.test.one.activity"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.edit.*">
      </activityPatternBinding>
   </extension>

</plugin>
